*{
  font-family: "Rubik", sans-serif;

}



:root {
  --background-color--background-primary: var(--base-color-neutral--black);
  --text-color--text-primary: var(--base-color-neutral--white);
  --link-color--link-alternate: var(--base-color-neutral--white);
  --text-color--text-alternate: var(--base-color-neutral--black);
  --text-color--text-secondary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green);
  --border-color--border-primary: var(--base-color-brand--green-daker);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --background-color--background-secondary: var(--base-color-brand--green);
  --link-color--link-primary: var(--base-color-brand--green);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red);
  --base-color-brand--green: #099354;
  --base-color-neutral--white: #fff;
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow);
  --base-color-neutral--neutral-dark: #444;
  --text-color--text-tertiary: #48cf91;
  --base-color-brand--green-daker: #18302f;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-brand--green-light: #35f39d;
  --base-color-brand--green-dark: #055732;
  --base-color-neutral--black: #090909;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--focus-state: #2d62ff;
  --border-color--border-secondary: var(--base-color-brand--green);
  --border-color--border-alternate: var(--base-color-brand--green-light);
  --link-color--link-secondary: var(--base-color-neutral--black);
  --background-gradient-hero:
          radial-gradient(circle at 20% 30%, rgba(120,70,255,0.25), transparent 40%),
          radial-gradient(circle at 80% 70%, rgba(0,200,255,0.15), transparent 40%),
          #070714;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url("");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-primary);
  font-family: Manrope, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.275rem;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--link-color--link-alternate);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 20rem;
  max-width: 34rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top, .padding-top.padding-medium {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical, .padding-vertical.padding-xxlarge {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom, .padding-bottom.padding-xxlarge {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid #0000001a;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, #2d40ea1a, #fff0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2rem;
  height: 2rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid #0000001a;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid #0000001a;
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 1.5rem;
  height: 1.5rem;
}

.heading-style-h1 {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: #c4c6d60d;
  border: 1px dashed #9aa3ec;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.max-width-large.align-center {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  color: var(--text-color--text-primary);
  background-color: #0000;
  border: 1px solid #ffffff4d;
  border-radius: 15px;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.form_input::placeholder, .form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  color: var(--text-color--text-primary);
  min-height: 8rem;
  padding-top: .75rem;
  font-size: 1rem;
}

.heading-style-h6 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.padding-section-large.is-hero {
  padding-bottom: 4rem;
}

.padding-section-large.padding-top-bottom {
  padding-bottom: 8rem;
}

.padding-section-large.bottom-only {
  padding-top: 0;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  align-self: flex-start;
  font-size: 1.125rem;
}

.styleguide_header {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-primary);
  background-image: radial-gradient(circle at 100% 100%, #dd23bb40, #0000 40%), radial-gradient(circle at 0 100%, #2d62ff4d, #0000 60%);
}

.heading-style-h2 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2;
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-primary);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-secondary);
}

.heading-style-h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
  overflow: hidden;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #5217BF;
  color: var(--text-color--text-primary);
  text-align: center;
  border-radius: .25rem;
  padding: .5rem 1rem;
  font-weight: 600;
  transition: box-shadow .3s;
}

.button:hover {
  box-shadow: 0 3px 28px #ffffff40;
}

.button.is-text {
  color: var(--base-color-neutral--white);
  background-color: #0000;
  background-image: none;
  border: 2px solid #0000;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--base-color-brand--green);
  background-color: var(--base-color-neutral--white);
  color: var(--text-color--text-alternate);
  background-image: none;
}

.styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.button-group.is-center {
  justify-content: center;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: var(--background-gradient-hero);

}

.container-medium {
  width: 100%;
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  background-color: #2d40ea1a;
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: #000;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  inset: 0% 0% auto;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_logo {
  width: 10rem;
}

.nav_menu_link {
  color: #fff;
  padding: 1rem;
}

.nav_button {
  padding: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.styleguide_heading-header {
  font-size: 6rem;
}

.changelog-component {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.changelog-right {
  border: 1px solid #dad6c9;
  border-radius: 15px;
  padding: 1.5rem;
}

.licence-component {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.licenses-item {
  border: 1px solid var(--base-color-neutral--neutral-dark);
  border-radius: 15px;
  padding: 1.5rem;
}

.navbar_component {
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.navbar_container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar_logo-wrapper {
  padding-left: 0;
}

.navbar_menu {
  align-items: center;
  display: flex;
  position: static;
}

.navbar_link {

  padding: .5rem 0.5rem;
  font-weight: 500;
  transition: color .2s;
}

.navbar_link:hover {
  color: white;
}


.navbar_menu-buttons {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: 1rem;
  display: flex;
}

.navbar_menu-button {
  padding: 0;
}

.section_header {
  background: var(--background-gradient-hero);
  justify-content: center;
  align-items: center;
  position: relative;
}

.header_component {
  z-index: 1;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header_image-wrapper {
  border-radius: 1rem;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.header_image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tag {
  border: 1px solid var(--base-color-brand--green);
  color: var(--text-color--text-tertiary);
  background-color: #10181a;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: .35rem .75rem;
  font-size: .875rem;
  display: flex;
}

.hero-pattern {
  width: 100%;
  max-width: none;
}

.hero-pattern-wrapper {
  z-index: 0;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1438px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 7rem 0% auto;
}

.section_layout1 {
  z-index: 1;
  position: relative;
}

.layout1_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.layout1_content-left.is-right {
  padding-left: 6rem;
  padding-right: 0;
}

.layout1_image-wrapper {
  aspect-ratio: 1;

  border-radius: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.layout1_image {
  object-fit: contain;
  position: absolute;
  inset: 0%;
}

.layout1_image.feature-1 {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: auto 0% 0%;
}

.layout1_image.feature-2 {
  width: 100%;
  margin: auto;
  position: absolute;
  inset: 0%;
}

.layout1_image.feature-3 {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  position: absolute;
  inset: 0%;
}

.layout1-image-gradient-wrapper {

  border-radius: 15px;
  width: 100%;
  padding: 1px;
  overflow: hidden;
}

.section_header1 {
  z-index: 1;
  position: relative;
}

.header49_content {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.text-color-tertiary {
  color: var(--text-color--text-tertiary);
}

.section-pattern-image {
  opacity: .65;
  width: 100%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0% 0% auto;
}

.section-features {
  position: relative;
  overflow: hidden;
  background: var(--background-gradient-hero);

}

.section_testimonial {
  background: var(--background-gradient-hero);
  position: relative;
}

.testimonial18_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.testimonial18_card {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border: 1px solid #5217BF;
  background-color: #00003c;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.testimonial18_rating-wrapper {
  display: flex;
}

.testimonial18_rating-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: .25rem;
  display: flex;
}

.testimonial-pattern-image {
  pointer-events: none;
  height: 100%;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.review-pattern-image {
  width: 100%;
}

.review-pattern-top-wrapper {
  pointer-events: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0% 0% auto;
}

.review-pattern-bottom-wrapper {
  pointer-events: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.section_pricing {
  position: relative;
  background: var(--background-gradient-hero);

}

.pricing_component {
  z-index: 1;
  position: relative;
}

.pricing_grid-list {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr;
}

.pricing_plan {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border: 1px solid #5217BF;
  background-color: #00003c;
  border-radius: 15px;
  flex-flow: column;
  height: 100%;
  padding: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.pricing_plan.is-main {
}

.pricing_feature-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
}

.pricing20_feature {
  display: flex;
}

.pricing20_icon-wrapper {
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
}

.gradient-wrapper {
  border-radius: 15px;
  width: 100%;
  padding: 1px;
  overflow: hidden;
}

.pricing-header {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 6rem;
  display: flex;
}

.faq_list {
  background-color: #00003c;
  border: 1px solid #5217BF;
  border-radius: 15px;
  width: 100%;
  padding: 1.75rem;
  overflow: hidden;
}

.faq_accordion {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.faq_accordion:first-child {
  margin-top: -1px;
}

.faq_question {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  cursor: pointer;
  border-top: 1px solid #18302f;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  transition: padding .2s;
  display: flex;
}

.faq_question:hover {
  padding-left: .5rem;
}

.faq1_icon-wrapper {
  align-self: flex-start;
  display: flex;
}

.faq_answer {
  overflow: hidden;
}

.pricing-tag {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  order: -1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.cta_component {
  background: #00003c;
  border-radius: 15px;
  overflow: hidden;
}

.cta_card {
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 35rem;
  padding: 4rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.cta_card-content {
  z-index: 1;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.cta_background-image {
  opacity: .6;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.cta-content-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: left;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer_top-wrapper {
  grid-column-gap: 4vw;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  align-items: start;
}

.footer_left-wrapper {
  max-width: 26rem;
}

.footer_menu-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.footer_link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  place-items: flex-start start;
  display: flex;
}

.footer_link {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
  font-weight: 600;
  text-decoration: none;
  transition: color .2s;
}

.footer_link:hover {
  color: #ffffffb3;
}

.footer3_bottom-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer_credit-text {
  font-size: .875rem;
}

.footer-header {
  opacity: .8;
  text-transform: uppercase;
  font-size: .875rem;
}

.form_field-label {
  margin-bottom: .5rem;
  font-weight: 400;
}

.form_message-success-wrapper {
  margin-top: 1rem;
  padding: 0;
}

.success-text {
  color: var(--base-color-brand--green-daker);
  font-weight: 600;
}

.form_message-error-wrapper {
  margin-top: 1rem;
  padding: 0;
}

.error-text {
  color: var(--base-color-system--error-red-dark);
  font-weight: 600;
}

.section_contact {
  position: relative;
  overflow: hidden;
}

.contact_component {
  z-index: 1;
  position: relative;
}

.contact_content {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.contact_form-block {
  background-color: #10181a;
  border-radius: 15px;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0;
  padding: 2rem;
  position: relative;
}

.contact_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.list {
  padding-top: 20px;
}

.list-item, .list-item-2, .list-item-3 {
  font-size: 1.3rem;
}

.heading-4 {
  padding-top: 40px;
}

.heading-5 {
  padding-top: 60px;
}

.heading-6, .heading-7, .heading-8 {
  padding-top: 20px;
}

@media screen and (max-width: 1333px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .navbar_menu-buttons {
    display: none;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .padding-section-large.padding-top-bottom {
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: var(--background-gradient-hero);

  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_button {
    color: #fff;
  }

  .styleguide_heading-header {
    font-size: 4rem;
  }

  .navbar_menu {
    background-color: white;
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    padding: 1rem 5% 2rem;
    position: absolute;
    overflow: auto;

  }

  .navbar_menu.is-page-height-tablet {
    height: 100dvh;
    padding-bottom: 6.5rem;
    transition: height .5s;
  }

  .navbar_link {
    width: auto;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .navbar_menu-buttons {
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-left: 0;
  }

  .navbar_menu-button.w--open {
    background-color: #0000;
  }

  .menu-icon1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex !important;
  }

  .menu-icon1_line-top {
    background-color: black;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon1_line-middle {
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon1_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon1_line-bottom {
    background-color: black;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .layout1_content {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .layout1_content-left {
    padding-right: 0;
  }

  .layout1_content-left.is-right {
    padding-left: 0;
  }

  .header49_content {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }

  .testimonial18_list {
    column-count: 2;
  }

  .testimonial-pattern-image {
    width: 20rem;
  }

  .pricing_grid-list {
    grid-template-columns: 1fr;
  }

  .pricing-header {
    min-height: auto;
  }

  .cta_card {
    min-height: 28rem;
    padding: 3rem;
  }

  .footer_top-wrapper {
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .contact_content {
    grid-column-gap: 3rem;
    grid-auto-flow: row;
    min-height: auto;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  .utility-page_wrapper {
    min-width: auto;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.75rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }


  .padding-section-small {
    padding-top: 0.2rem;
    padding-bottom: 2rem;
  }

  .styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1.5rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: 1.125rem;
  }

  .padding-section-large {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h5 {
    font-size: 1.25rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: var(--background-gradient-hero);

  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .changelog-component, .licence-component {
    flex-flow: column;
    display: flex;
  }

  .navbar_component {
    height: auto;
    min-height: 4rem;
    padding-left: 0.75rem;
    padding-right: 1.25rem;
  }

  .navbar_logo-wrapper {
    padding-left: 0;
  }

  .navbar_menu.is-page-height-tablet {
    padding-bottom: 6rem;
  }

  .layout1_content {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .header49_content {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
  }

  .testimonial18_list {
    grid-row-gap: 1rem;
    column-count: 1;
    grid-template-columns: 1fr;
  }

  .testimonial18_card {
    padding: 1.5rem;
  }

  .pricing_grid-list {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .pricing_plan {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .faq_list {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .faq_question {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .faq1_icon-wrapper {
    width: 1.75rem;
  }

  .cta_card {
    min-height: auto;
    padding: 2.5rem 2rem;
  }

  .footer_top-wrapper {
    grid-row-gap: 3rem;
  }

  .footer_menu-wrapper {
    grid-column-gap: 1.5rem;
  }

  .footer3_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 1rem;
  }

  .footer_credit-text {
    margin-top: 2rem;
  }

  .contact_content {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .heading-style-h4 {
    font-size: 1.4rem;
  }

  .navbar_component {
    background-color: white;
  }

  .tag {
    order: -1;
  }

  .layout1_content, .header49_content {
    grid-template-columns: 1fr;
  }

  .pricing-tag {
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
    flex-flow: wrap;
  }

  .footer_menu-wrapper {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .contact_content {
    grid-template-columns: 1fr;
  }

  .heading {
    padding-top: 20px;
  }

  .heading-2 {
    padding-top: 40px;
  }

  .paragraph, .heading-3, .paragraph-2 {
    padding-top: 20px;
  }
}

#w-node-ad008d0b-ca72-3722-c6cd-77686dc346c0-26bcc1f5, #w-node-_58b3e01c-d462-a6d1-a3e6-4b1761832b40-26bcc1f5 {
  order: 9999;
}

#w-node-_5fbbd9d6-b291-c21e-e69e-3700890e19f4-26bcc1f5 {
  justify-self: start;
}

#w-node-e2265d39-f866-637b-74c8-4b2baa195b9c-aa195b96 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-26bcc1f8 {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-26bcc1f8, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-26bcc1f8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-26bcc1f8 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-26bcc1f8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-26bcc1f8 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-26bcc1f8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-26bcc1f8 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-26bcc1f8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-26bcc1f8 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-26bcc1f8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-26bcc1f8, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-26bcc1f8, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-26bcc1f8, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-26bcc1f8, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-26bcc1f8, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-26bcc1f8, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-26bcc1f8, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-26bcc1f8, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-26bcc1f8, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-26bcc1f8, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-26bcc1f8 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-26bcc1f8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-26bcc1f8 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-26bcc1f8, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-26bcc1f8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-26bcc1f8 {
  justify-self: start;
}

#w-node-_47a2cfc3-69a4-166c-2f8f-5e833ec9a7da-26bcc1fa, #w-node-f2ed7e2b-e9e4-03bd-c3fb-365ffd9a7b23-26bcc1fb, #w-node-f2ed7e2b-e9e4-03bd-c3fb-365ffd9a7b2f-26bcc1fb, #w-node-f2ed7e2b-e9e4-03bd-c3fb-365ffd9a7b38-26bcc1fb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ac2ba0ec-012b-c4c6-f417-12df439206b3-56fc28d2, #w-node-f44a7fa1-ec7c-ff04-432b-b7a42669a6fd-78fd63a3, #w-node-f68f3b19-4041-1f74-ac7c-002ae7e997e0-a9eb05b4, #w-node-_9f4dc3d4-b092-b2fe-e9e7-e2f653a6934a-d5000610, #w-node-_9f4dc3d4-b092-b2fe-e9e7-e2f653a69417-d5000610 {
  order: 9999;
}

#w-node-_9f4dc3d4-b092-b2fe-e9e7-e2f653a694a4-d5000610, #w-node-_65786988-e906-63be-a412-fd9482053dd3-7ddeaaf9, #w-node-_3ae839b4-3fdd-e7f9-c2c5-9f8e6e85f6f4-1ef6089b {
  justify-self: start;
}

@media screen and (max-width: 767px) {
  #w-node-ad008d0b-ca72-3722-c6cd-77686dc346c0-26bcc1f5, #w-node-_58b3e01c-d462-a6d1-a3e6-4b1761832b40-26bcc1f5, #w-node-ac2ba0ec-012b-c4c6-f417-12df439206b3-56fc28d2, #w-node-f44a7fa1-ec7c-ff04-432b-b7a42669a6fd-78fd63a3, #w-node-f68f3b19-4041-1f74-ac7c-002ae7e997e0-a9eb05b4, #w-node-_9f4dc3d4-b092-b2fe-e9e7-e2f653a6934a-d5000610, #w-node-_9f4dc3d4-b092-b2fe-e9e7-e2f653a69417-d5000610 {
    order: -9999;
  }
}

.mob-form {
  display: none;
}


@media (max-width: 1368px) {
  .mob-form {
    display: block;
  }

  .form-pc {
    display: none;
  }
}

@media (max-width: 575px) {
  .S’inscrire-form {
    width: 350px !important;
  }

  .heading-style-h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 414px) {
  .heading-style-h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 385px) {
  .S’inscrire-form {
    max-width: 300px;
  }
}

@media (max-width: 1368px) {
  .hero-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .form-reg {
    margin-top: 50px !important;
  }

  .spacer-small img {
    margin: 0 auto;
    margin-top: 50px;
  }

}

.footer-link {
  font-size: 20px;
}

@media (max-width: 768px) {
  .form-reg {
    margin-top: 20px !important;
  }

  .footer-link {
    font-size: 18px;
  }

}

.flex-image {
  max-width: 400px;
}

.content-block {
  display: flex;
}

.text-block-max {
  max-width: 400px;
}

.navbar_link {
  transition: all 0.3s ease-in-out;
}

.navbar_link:hover {
  color: #5217BF !important;
}

.footer-list-wrapper {
  display: flex;
  gap: 40px;
}

.footer-list-first {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.footer-list-first li {
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .footer-list-wrapper {
    flex-direction: column;
    gap: 20px;
  }
}

.footer-list-right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-copyright {
  margin-top: 50px;
  text-align: center;
}

.footer-logo {
  display: flex;
  flex-direction: row;
}

.footer-logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.faq_answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease;
}

.faq_accordion.active .faq_answer {
  max-height: 500px;
}

@media (max-width: 1247px) {
  .navbar_link {
    padding: .2rem .5rem;
  }
}

@media (max-width: 1151px) {
  .navbar_link {
    padding: .1rem .3rem;
  }
}

@media (max-width: 422px) {
  .button {
    padding: 5px;
    font-size: 12px;
  }
}




.layout1_content .layout1_content-left,
.layout1_content .layout-component {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  height: 100% !important;
}

.layout1_content {
  align-items: center !important;
}

.img-flex-item > .layout-component {
  align-self: center !important;
}

.heading-style-h1 {
  font-size: 2.8rem;
}

.button-group {
  display: flex;
  justify-content: center;
}
